.App {

}

.wrapper{
  width: 80vw;
  margin: 0 auto;
}

p{
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
/*NAVIGAYION*/

ul{
  display: flex;
}
li{
  list-style: none;
  padding: 0px 5px;
}

a{
  text-decoration: none;
  text-transform: uppercase;
}

.section:nth-child(1), 
.banner {
  background: #8Cb15B;
  color: white;
}

.text{
  padding: 20px 0px
}


/*Banner*/

.iconBox{
  display: flex;
}

.iconBox p{
  padding-left: 10px;
}

.iconBox p,
.icons{
    font-size: 1.5em;
}


.bannerWrapper{
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

/*BIO*/
.bio{
    padding: 20px 0px;
}
.emily{
  display: flex;
  align-items: baseline;
}

.emily h3{
  margin: 0;
}

.emily a{
  padding-right: 10px; 
}

/*CONTACT*/
.contact{
  padding: 150px 0px;
  background: url(https://storage.googleapis.com/caraimgs/urbRev/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contactForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  text-align: center;
}

label{
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  background: #8Cb15B;
}


.contactForm p{
  text-align: center;
}



